html,
body {
    height: 100%;
}

body {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    background: url("../images/bg.jpg");
    background-size: cover;
    flex-wrap: wrap;
}

h1 {
    color: #ffffff;
}

.card {
    background-color: rgba(50, 50, 50, 0.85);
    border: 5px solid rgba(255, 255, 255, 0.25);
}

.card:hover {
    background-color: rgba(78, 78, 78, 0.85);
    border: 5px solid rgba(255, 255, 255, 0.45);
}

.cursorPointer:hover {
    cursor: pointer;
}
